.container {
    width: 397px;
    height: 990px;
    border:1px solid grey;
}

.header img {
    position:relative;
    width: 379px;
    height: 286px;
    padding: 12px 9px 10px 9px;
}

.description{
    margin:0;
    width: 361px;
    height: 46px;
    font-size:18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 18px 686px 18px;
}

.ikincitebeqe{
    height: 19px;
    width: 397px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.ikinci1 {
  width: 300px;
  height: 19px;
}



    
    

    
    

