.container{
    margin:0;
    padding:0;
    width: 1000px;
    height: 350px;
    box-sizing: border-box;
    position: relative;
    border: 3px outset rgb(73, 78, 74);
    font-family: 'Open Sans', sans-serif;
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}

.box{
    width: 294px;
    height: 290px;
    border-radius: 10px;
    box-shadow: rgba(58, 182, 33, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.img{
    width: 269px;
    height: 171px;
    padding-left:12px;
    padding-top: 9px;
}

.name{
    height: 20px;
    width: 211px;
    display:inline-block;
    font-size:15.78px;
    padding-left: 12px;
}

.priceplace{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 12px;
}

.priceplace h3{
    display:inline-block;
    width: 100px;
    height: 20px;
    color:gray;
    font-size: 14px;
    box-sizing: border-box;
}

.priceplace h3::before{
    content:url(./Vector\ \(5\).png);
    display:inline-block;
    padding-right: 5px;
}  /*thailanddan evvel sekil yerlesdirmek ucun*/

.priceplace a{
    text-decoration: none;
    font-size:14px;
    padding-right: 12px;
}

.absolute1 {
    width: 36px;
    height: 36px;
    background-image:url(./Ellipse\ 22.png);
    background-size: cover;
    display: flex;
    position: absolute;
    margin-top: 75px;
    margin-right: 420px;
}

.absolute1 img{
    height: 16px;
    width: 11px;
    align-self: center;
    margin-left: 12.45px;
    margin-top: -6px;
}

.absolute2 {
    width: 36px;
    height: 36px;
    background-image:url(./Ellipse\ 22.png);
    background-size: cover;
    display: flex;
    position: absolute;
    margin-top: 75px;
    margin-left:220px;
}

.absolute2 img{
    height: 16px;
    width: 11px;
    align-self: center;
    margin-left: 12.45px;
    margin-top: -6px;
}

.absolute3 {
    width: 36px;
    height: 36px;
    background-image:url(./Ellipse\ 22.png);
    background-size: cover;
    display: flex;
    position: absolute;
    margin-top: 75px;
    margin-left: 870px;
}

.absolute3 img{
    height: 16px;
    width: 11px;
    align-self: center;
    margin-left: 12.45px;
    margin-top: -6px;
}