.container{
   height: 600px;
   width: 700px;
   background-color:red;
   display:flex;
   flex-direction:column;
   
}

.child1{
    height:200px;
    width: 100%;
    background-color: green;
    display: flex;

}

.child1alfa{
 height: 200px;
 width: 50%;
display: flex;
justify-content: space-around;
align-items: center;
}

.class1beta{
    height: 200px;
    width: 50%;
   display: flex;
   padding:10px;
   justify-content: flex-end;
   align-items:center;
   }

.child2{
    height: 200px;
    width: 700px;
    background-color: pink;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.child3{
    height: 200px;
    width: 700px;
    background-color:blue;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;

}


.birinci {
    height: 70px;
    width: 100px;
    background-color: aqua;
}
.ikinci {
    height: 70px;
    width: 100px;
    background-color: aqua;
}

.ucuncu {
    height: 70px;
    width: 100px;
    background-color: aqua;
}

.dorduncu {
    height: 70px;
    width: 100px;
    background-color: aqua;
}



.child2a{
    height: 100px;
    width: 230px;
    background-color: red;
    justify-content: center;
    align-items:center;
}

.child3a{
    height: 50px;
    width: 200px;
    background-color:yellow;
}

.child3b{
    height: 50px;
    width: 200px;
    background-color:yellow;
}